# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ignore tlayer directories but keep .hdf5 files in the root
tlayer0/
tlayer1/
tlayer2/
tlayer3/
tlayer4/
tlayer5/
tlayer5c/

# Ignore tlayer.zip files
tlayer*.zip

# Ignore specific HDF5 files at the project root
tlayer0.hdf5
tlayer1.hdf5
tlayer2.hdf5
tlayer3.hdf5
tlayer4.hdf5
tlayer5.hdf5

_predict_parallel.cpython-310-aarch64-linux-gnu.so
tlayer*.zip
tlayer*.zip
